{% extends 'emails/base.html' %}
{% block subject %}🔥Tu entrada para {{ event.name|safe }} 🔥{% endblock %}
{% block title %}
    ¡TODO EN ORDEN!
{% endblock %}
{% block content %}
    <p>
        Tu entrada para <b>{{ event.name|safe }}</b> ha sido:
    </p>

    <p><b>CONFIRMADA</b></p>

    <p>Podes ver tus entradas ingresando a

        {% include 'emails/partials/btn.html' with label='Mis Entradas' href='/mis-entradas/proximos-eventos/'  domain=domain %}


    <p>Cualquier problema que tengas, escribinos a: <a href="mailto:ccgleyzer@gmail.com">ccgleyzer@gmail.com</a> </p>


{% endblock %}
